<div class="content" >
  <h1> Data Loading </h1>
  <div>
    <button class="loadDataBtn" > Load Data </button>
    <br />
    <br />
    <div class="postList" >
    </div>
  </div>
  <br><hr><br>
  <h1> TODO List </h1>
  <div>
    <input class="todoInput" type="text" />
    <button class="addBtn" > Add </button>
    <br />
    <br />
    <div class="todoList" >
    </div>
  </div>
  <br><hr><br>
  <h1> Form Submission </h1>
  <form class="demoForm" method="post" >
    <label for="data1"> Data1 </label>
    <input id="data1" type="text" name="data1" />
    <br><br>
    <label for="data2"> Data2 </label>
    <input id="data2" type="text" name="data2" />
    <br><br>
    <button> Submit </button>
  </form>
</div>
